@model IEnumerable<MovieList.Models.MovieModel>

@{
    ViewBag.Title = "Lista";
}

<h1 class="display-4">Lista filmów</h1>

<p>
    @Html.ActionLink("Dodaj film", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Watched)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td style="width:45%">
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td style="width:7%; text-align:center; vertical-align:middle">
        @Html.DisplayFor(modelItem => item.Watched)
    </td>
    <td style="width:20%"> </td>
    <td>
        @Html.ActionLink("Szczegóły", "Details", new { id = item.MovieId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Edytuj", "Edit", new { id = item.MovieId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Usuń", "Delete", new { id = item.MovieId }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
